body * {
    box-sizing: border-box;
}
li{
    text-align: right;
}
.container {
    position: fixed;
    width: 100vw;
    display:flex;

}

.menu {
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100vh;
    padding: 50px 10px 0 0;
    width: 200px;
    line-height: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    border-left: 4px solid rgb(0, 0, 0);
    background-color: #b6809f;
    transform: translate3d(100%, 0, 0);
    transition: all 600ms ease-out;

}

/* Toggle Menu------------------------------------------------------------------------------- */
.menu-toggle {
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 25px;
    right: 30px;
}
.menu-toggle .fas {
    display:block;
    line-height: .275px;
    font-size: 20px;
    margin: 0 0 .5px 0;
    transition: all 700ms ease-out;

}
.menu-toggle.close .fas {
    transform: rotate(180deg);

}
.menu-toggle.close .fas:nth-child(1) {
    transform: rotate(45deg) translate(2px,10px);
}
.menu-toggle.close .fas:nth-child(2) {
    opacity: 0;
}
.menu-toggle.close .fas:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation style and transition ---------------------------------------------------------*/
.menu-nav { 
    display: block;
    font-size: 23px;
}
.menu.show {
    border-left: 3px solid rgb(0, -100%, 0);
    transform: translate3d(0,0,0);
}
@media (max-width: 1200px) {
    .menu-nav {
        width: 40%;
    }
}